* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background-image: url(pic/bg3.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}

nav {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 400;
}

.login-btu {
    text-decoration: none;
    color: #333;
    margin-right: 15px;
    font-weight: 400;

}

.btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    font-size: 16px;
    color: white;
    background: linear-gradient(45deg, #ff6a00, #ee0979);
    border-radius: 30px;
    transition: all 0.3s ease;
}

.content {
    margin-top: 10%;
    max-width: 600px;
    padding: 5%;
}

.content h1 {
    font-size: 80px;
    color: rgb(42, 42, 59);
}

.content p {
    margin: 10px 0 30px;
    color: rgb(13, 13, 48);
    animation-delay: 0.5s;

}

.content .btn {
    padding: 15px 80px;
    font-size: 16px;
    animation-delay: 1s;
}

.btn:hover{
    background: linear-gradient(45deg, #43cea2, #185a9d);
    transform: scale(1.05);
}

.Features-img {
    width: 400px;
    position: absolute;
    bottom: 0;
    right: 10%;
    transform: translate(-50%,-50%);
    background: transparent;
}


.Features-img.anim {
    animation-delay: 1.5s;
}


.anim {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
